.head-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.head-login h1{
  font-size: 4rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.head-login-icons{
  display: flex;
  gap: 0.5rem;
}

.head-login-icons svg{
  width: 2rem;
  height: 2rem;
  /* color: red; */
}
.head-login-icons span{
  padding: 0.6rem 0.8rem;
  border: 2px solid #1c8080;
  border-radius: 0.8rem;
  transition-duration: 200ms;
  cursor: pointer;
}

.head-login-icons span:hover{
  border-color: #96d7eb;
  box-shadow: 1px 1px 7px black;
  color: #1c8080;
  transform: scale(1.1)
}
